In [1]:
import ml_combat as ml
from ml_combat import data, module_dir

Attempting to create a linear regression model
Done creating a linear regression model!

In [7]:
data.get_testing_flattened()

,location,ds,weather_data_type,absolute_humidity_2m:gm3,air_density_2m:kgm3,ceiling_height_agl:m,clear_sky_energy_1h:J,clear_sky_rad:W,cloud_base_agl:m,dew_or_rime:idx,...,sun_azimuth:d,sun_elevation:d,super_cooled_liquid_water:kgm2,t_1000hPa:K,total_cloud_cover:p,visibility:m,wind_speed_10m:ms,wind_speed_u_10m:ms,wind_speed_v_10m:ms,wind_speed_w_1000hPa:ms
0,A,2023-05-01 00:00:00,estimated,4.325,1.28675,912.700012,0.000000,0.000000,1061.550049,0.0,...,16.026501,-10.541000,0.000,273.799988,74.949997,29907.500000,3.950,2.100,3.350,0.0
1,A,2023-05-01 01:00:00,estimated,4.275,1.28600,1482.099976,0.000000,0.000000,1075.100098,0.0,...,30.497250,-7.894500,0.000,273.799988,77.474998,29519.074219,3.825,1.925,3.300,0.0
2,A,2023-05-01 02:00:00,estimated,4.150,1.28375,1791.300049,0.000000,0.000000,1200.400024,0.0,...,44.517250,-3.815500,0.000,273.849976,88.099998,31009.125000,3.650,1.750,3.200,0.0
3,A,2023-05-01 03:00:00,estimated,4.025,1.28200,2312.875000,10124.424805,11.675000,1179.849976,0.0,...,58.083000,1.412500,0.000,273.899994,68.599998,34552.500000,3.500,1.450,3.150,0.0
4,A,2023-05-01 04:00:00,estimated,3.900,1.28100,2198.299805,141748.593750,76.875000,920.049988,0.0,...,71.341003,7.468500,0.000,273.924988,66.300003,35483.875000,3.325,1.300,3.050,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,C,2023-07-03 19:00:00,estimated,8.400,1.19675,3493.649902,475981.375000,84.775002,1967.375000,0.0,...,306.688995,8.131001,0.100,286.850006,88.175003,41007.898438,2.175,1.900,-1.075,0.0
2156,C,2023-07-03 20:00:00,estimated,8.600,1.20000,3078.750000,183261.343750,24.549999,1449.500000,0.0,...,319.703003,3.239500,0.000,286.450012,78.949997,41315.949219,2.200,2.000,-0.925,0.0
2157,C,2023-07-03 21:00:00,estimated,8.875,1.20350,2308.399902,36831.074219,1.225000,1543.650024,0.0,...,333.037231,-0.477000,0.000,285.950012,80.449997,41665.898438,2.250,2.050,-0.950,0.0
2158,C,2023-07-03 22:00:00,estimated,9.000,1.20650,2000.449951,344.575012,0.000000,1725.949951,0.0,...,346.682739,-2.787750,0.075,285.450012,100.000000,39007.601562,1.875,1.700,-0.775,0.0
2159,C,2023-07-03 23:00:00,estimated,8.950,1.20700,2005.525024,0.000000,0.000000,1284.849976,0.0,...,180.515747,-3.535750,0.150,285.100006,100.000000,39117.500000,1.700,1.600,-0.600,0.0

In [3]:
from prophet import Prophet
from prophet.diagnostics import cross_validation, performance_metrics
from prophet.plot import plot_cross_validation_metric
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
ml.models.naive.fit(ml.data.get_training_groupby_mean())
y_pred = ml.models.naive.predict(ml.data.get_testing())
y_pred = ml.models.naive.make_submittable(y_pred)
y_pred.to_csv('submissions/test1.csv', index=False)

In [5]:
y_pred.columns

Index(['id', 'prediction'], dtype='object')

In [6]:
df['estimated', 'weather_data_type'] = 'estimated'

NameError: name 'df' is not defined

In [ ]:
df[(df.estimated['absolute_humidity_2m:gm3'].isna()) & (df.observed['absolute_humidity_2m:gm3'].notna())].loc['estimated', 'weather_data_type'] = 'observed'

/var/folders/rn/zrxftcb56xg254wsfbhrtbt80000gn/T/ipykernel_25025/895509957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[(df.estimated['absolute_humidity_2m:gm3'].isna()) & (df.observed['absolute_humidity_2m:gm3'].notna())].loc['estimated', 'weather_data_type'] = 'observed'

In [ ]:
df = ml.data.get_training_groupby_mean()

In [ ]:
df = df.drop(columns=['estimated'], level=0)
df.columns = df.columns.droplevel().tolist()
df.reset_index(inplace=True)
df.rename(columns={'datetime': 'ds', 'pv_measurement': 'y'}, inplace=True)

In [ ]:
df['ENG_total_rad'] = df['diffuse_rad_1h:J'] + df['direct_rad_1h:J']

In [ ]:
df

feature_type                              y                estimated  \
feature_name                 pv_measurement absolute_humidity_2m:gm3
location datetime
A        2019-06-02 22:00:00           0.00                      NaN
         2019-06-02 23:00:00           0.00                      NaN
         2019-06-03 00:00:00           0.00                      NaN
         2019-06-03 01:00:00           0.00                      NaN
         2019-06-03 02:00:00          19.36                      NaN
...                                     ...                      ...
C        2023-04-30 19:00:00          50.96                      4.4
         2023-04-30 20:00:00           2.94                      4.4
         2023-04-30 21:00:00           0.00                      4.4
         2023-04-30 22:00:00           0.00                      4.4
         2023-04-30 23:00:00           0.00                      4.4

feature_type                                                           \
feature_name                 air_density_2m:kgm3 ceiling_height_agl:m
location datetime
A        2019-06-02 22:00:00                 NaN                  NaN
         2019-06-02 23:00:00                 NaN                  NaN
         2019-06-03 00:00:00                 NaN                  NaN
         2019-06-03 01:00:00                 NaN                  NaN
         2019-06-03 02:00:00                 NaN                  NaN
...                                          ...                  ...
C        2023-04-30 19:00:00             1.27550          1456.574982
         2023-04-30 20:00:00             1.27850          1476.350006
         2023-04-30 21:00:00             1.27900          1516.299988
         2023-04-30 22:00:00             1.27975          1240.600006
         2023-04-30 23:00:00             1.27975          1484.500015

feature_type                                                        \
feature_name                 clear_sky_energy_1h:J clear_sky_rad:W
location datetime
A        2019-06-02 22:00:00                   NaN             NaN
         2019-06-02 23:00:00                   NaN             NaN
         2019-06-03 00:00:00                   NaN             NaN
         2019-06-03 01:00:00                   NaN             NaN
         2019-06-03 02:00:00                   NaN             NaN
...                                            ...             ...
C        2023-04-30 19:00:00          84010.151367           4.175
         2023-04-30 20:00:00           2206.800018           0.000
         2023-04-30 21:00:00              0.000000           0.000
         2023-04-30 22:00:00              0.000000           0.000
         2023-04-30 23:00:00              0.000000           0.000

feature_type                                                                  \
feature_name                 cloud_base_agl:m dew_or_rime:idx dew_point_2m:K
location datetime
A        2019-06-02 22:00:00              NaN             NaN            NaN
         2019-06-02 23:00:00              NaN             NaN            NaN
         2019-06-03 00:00:00              NaN             NaN            NaN
         2019-06-03 01:00:00              NaN             NaN            NaN
         2019-06-03 02:00:00              NaN             NaN            NaN
...                                       ...             ...            ...
C        2023-04-30 19:00:00       551.224991             0.0     272.025002
         2023-04-30 20:00:00       564.099991             0.0     271.949997
         2023-04-30 21:00:00       578.699997             0.0     271.899994
         2023-04-30 22:00:00       551.500000             0.0     271.949997
         2023-04-30 23:00:00       558.674988             0.0     271.949997

feature_type                                ...        observed  \
feature_name                 diffuse_rad:W  ... sun_elevation:d
location datetime                           ...
A        2019-06-02 22:00:00           NaN  ...        -3.77425
         2019-06-02 23:00:00           NaN  ...        -4.35725
         2019-06-03 00:00:00           NaN  ...        -3.30950
         2019-06-03 01:00:00           NaN  ...        -0.82250
         2019-06-03 02:00:00           NaN  ...         3.05125
...                                    ...  ...             ...
C        2023-04-30 19:00:00         2.775  ...             NaN
         2023-04-30 20:00:00         0.000  ...             NaN
         2023-04-30 21:00:00         0.000  ...             NaN
         2023-04-30 22:00:00         0.000  ...             NaN
         2023-04-30 23:00:00         0.000  ...             NaN

feature_type                                                             \
feature_name                 super_cooled_liquid_water:kgm2 t_1000hPa:K
location datetime
A        2019-06-02 22:00:00                            0.0  286.224998
         2019-06-02 23:00:00                            0.0  286.899994
         2019-06-03 00:00:00                            0.0  286.949997
         2019-06-03 01:00:00                            0.0  286.750000
         2019-06-03 02:00:00                            0.0  286.449997
...                                                     ...         ...
C        2023-04-30 19:00:00                            NaN         NaN
         2023-04-30 20:00:00                            NaN         NaN
         2023-04-30 21:00:00                            NaN         NaN
         2023-04-30 22:00:00                            NaN         NaN
         2023-04-30 23:00:00                            NaN         NaN

feature_type                                                    \
feature_name                 total_cloud_cover:p  visibility:m
location datetime
A        2019-06-02 22:00:00             100.000  40386.475586
         2019-06-02 23:00:00             100.000  33770.649414
         2019-06-03 00:00:00             100.000  13595.500000
         2019-06-03 01:00:00             100.000   2321.850037
         2019-06-03 02:00:00              99.225  11634.799683
...                                          ...           ...
C        2023-04-30 19:00:00                 NaN           NaN
         2023-04-30 20:00:00                 NaN           NaN
         2023-04-30 21:00:00                 NaN           NaN
         2023-04-30 22:00:00                 NaN           NaN
         2023-04-30 23:00:00                 NaN           NaN

feature_type                                                        \
feature_name                 wind_speed_10m:ms wind_speed_u_10m:ms
location datetime
A        2019-06-02 22:00:00             3.600              -3.575
         2019-06-02 23:00:00             3.350              -3.350
         2019-06-03 00:00:00             3.050              -2.950
         2019-06-03 01:00:00             2.725              -2.600
         2019-06-03 02:00:00             2.550              -2.350
...                                        ...                 ...
C        2023-04-30 19:00:00               NaN                 NaN
         2023-04-30 20:00:00               NaN                 NaN
         2023-04-30 21:00:00               NaN                 NaN
         2023-04-30 22:00:00               NaN                 NaN
         2023-04-30 23:00:00               NaN                 NaN

feature_type                                                              \
feature_name                 wind_speed_v_10m:ms wind_speed_w_1000hPa:ms
location datetime
A        2019-06-02 22:00:00              -0.500                     0.0
         2019-06-02 23:00:00               0.275                     0.0
         2019-06-03 00:00:00               0.750                     0.0
         2019-06-03 01:00:00               0.875                     0.0
         2019-06-03 02:00:00               0.925                     0.0
...                                          ...                     ...
C        2023-04-30 19:00:00                 NaN                     NaN
         2023-04-30 20:00:00                 NaN                     NaN
         2023-04-30 21:00:00                 NaN                     NaN
         2023-04-30 22:00:00                 NaN                     NaN
         2023-04-30 23:00:00                 NaN                     NaN

feature_type                         estimated
feature_name                 weather_data_type
location datetime
A        2019-06-02 22:00:00         estimated
         2019-06-02 23:00:00         estimated
         2019-06-03 00:00:00         estimated
         2019-06-03 01:00:00         estimated
         2019-06-03 02:00:00         estimated
...                                        ...
C        2023-04-30 19:00:00         estimated
         2023-04-30 20:00:00         estimated
         2023-04-30 21:00:00         estimated
         2023-04-30 22:00:00         estimated
         2023-04-30 23:00:00         estimated

[101363 rows x 92 columns]

In [ ]:
df['c2'] = np.where(df.c1 == 8,'X', df.c3)

,location,ds,y,absolute_humidity_2m:gm3,air_density_2m:kgm3,ceiling_height_agl:m,clear_sky_energy_1h:J,clear_sky_rad:W,cloud_base_agl:m,dew_or_rime:idx,...,sun_azimuth:d,sun_elevation:d,super_cooled_liquid_water:kgm2,t_1000hPa:K,total_cloud_cover:p,visibility:m,wind_speed_10m:ms,wind_speed_u_10m:ms,wind_speed_v_10m:ms,wind_speed_w_1000hPa:ms
0,A,2019-06-02 22:00:00,0.00,7.700,1.22825,1728.950012,0.000000,0.00,1728.950012,0.0,...,348.036758,-3.77425,0.0,286.224998,100.000,40386.475586,3.600,-3.575,-0.500,0.0
1,A,2019-06-02 23:00:00,0.00,7.700,1.22350,1689.824982,0.000000,0.00,1689.824982,0.0,...,91.980751,-4.35725,0.0,286.899994,100.000,33770.649414,3.350,-3.350,0.275,0.0
2,A,2019-06-03 00:00:00,0.00,7.875,1.21975,1563.225006,0.000000,0.00,1563.225006,0.0,...,14.934750,-3.30950,0.0,286.949997,100.000,13595.500000,3.050,-2.950,0.750,0.0
3,A,2019-06-03 01:00:00,0.00,8.425,1.21800,1283.425018,208.649994,0.75,1283.425018,0.0,...,28.630250,-0.82250,0.0,286.750000,100.000,2321.850037,2.725,-2.600,0.875,0.0
4,A,2019-06-03 02:00:00,19.36,8.950,1.21800,1003.500000,32468.150269,23.10,1003.500000,0.0,...,41.997500,3.05125,0.0,286.449997,99.225,11634.799683,2.550,-2.350,0.925,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101358,C,2023-04-30 19:00:00,50.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101359,C,2023-04-30 20:00:00,2.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101360,C,2023-04-30 21:00:00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101361,C,2023-04-30 22:00:00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101362,C,2023-04-30 23:00:00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
y_pred = data.get_testing()
y_pred = y_pred.groupby(level = [0,2], axis = 1).mean()[['estimated']]
y_pred.columns = y_pred.columns.droplevel().tolist()
y_pred.reset_index(inplace=True)
y_pred.rename(columns={'datetime': 'ds'}, inplace=True)
y_pred['ENG_total_rad'] = y_pred['diffuse_rad_1h:J'] + y_pred['direct_rad_1h:J']

In [ ]:
ret = pd.DataFrame()

In [ ]:
def model_template(df, future):
    """
    df is a dataframe with the following columns ['ds', 'y', ... (features) ]
    future
    """
    pass

In [ ]:
for loc in ['A', 'B', 'C']:
    temp_df = df[df.location == loc].copy().drop(columns=["location"])
    temp_y_pred = y_pred[y_pred.location == loc].copy().drop(columns=["location"])
    temp_df.dropna(subset = ['ENG_total_rad'], inplace=True)
    #[temp_y_pred['diffuse_rad_1h:J'].isna()].head(3)
    prophet_model = Prophet()
    prophet_model.add_regressor('ENG_total_rad')
    prophet_model.fit(temp_df)
    forecast = prophet_model.predict(temp_y_pred)
    # fig = prophet_model.plot_components(forecast)
    temp_ret = forecast[['ds', 'yhat']]
    temp_ret['location'] = loc
    ret = pd.concat([ret, temp_ret])

14:57:21 - cmdstanpy - INFO - Chain [1] start processing
14:57:24 - cmdstanpy - INFO - Chain [1] done processing
/var/folders/rn/zrxftcb56xg254wsfbhrtbt80000gn/T/ipykernel_24465/1210870746.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_ret['location'] = loc
14:57:26 - cmdstanpy - INFO - Chain [1] start processing
14:57:30 - cmdstanpy - INFO - Chain [1] done processing
/var/folders/rn/zrxftcb56xg254wsfbhrtbt80000gn/T/ipykernel_24465/1210870746.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_ret['location'] = loc
14:57:31 - cmdstanpy - INFO - Chain [1] start processing
14:57:32 - cmdstanpy - INFO - Chain [1] done processing
/var/folders/rn/zrxftcb56xg254wsfbhrtbt80000gn/T/ipykernel_24465/1210870746.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_ret['location'] = loc

In [ ]:
ret

                     ds        yhat location
0   2023-05-01 00:00:00   77.625022        A
1   2023-05-01 01:00:00   85.944594        A
2   2023-05-01 02:00:00   81.092724        A
3   2023-05-01 03:00:00  104.872925        A
4   2023-05-01 04:00:00  345.070959        A
..                  ...         ...      ...
715 2023-07-03 19:00:00   70.740189        C
716 2023-07-03 20:00:00   46.783561        C
717 2023-07-03 21:00:00   26.121931        C
718 2023-07-03 22:00:00   17.905157        C
719 2023-07-03 23:00:00   17.667029        C

[2160 rows x 3 columns]

In [ ]:
ret = ret[['yhat']].reset_index(drop=True).reset_index().rename(columns={'index': 'id', 'yhat': 'prediction'})

In [ ]:
ret.prediction = ret.prediction.apply(lambda x: max(x, 0))

In [ ]:
ret.to_csv('submissions/test_prophet.csv', index=False)

In [ ]:
# prophet_model.plot(forecast)

In [ ]:
# df_cv = cross_validation(prophet_model, initial='730 days', period='180 days', horizon = '100 days')

In [ ]:
# performance_metrics(df_cv)

In [ ]:
# fig = plot_cross_validation_metric(df_cv, metric='mae')

In [ ]:
# Plotting a single feature
# fig, axs = plt.subplots(3, 1, figsize=(20, 10), sharex=True)
# feature_name = 'diffuse_rad_1h:J'
# temp_df[['ds', feature_name]].set_index('ds').plot(ax=axs[0], title='Train/Test A', color='red')
# temp_df[['ds', 'y']].set_index('ds').plot(ax=axs[1], title='Train/Test A', color='red')

In [ ]:
# df_cv[df_cv.cutoff == "2023-01-20 23:00:00"].set_index('ds').y.plot()

In [ ]:
df = data.get_testing()
df = df.groupby(level = [0,2], axis = 1).mean()[['estimated']]
df.columns = df.columns.droplevel().tolist()
df.reset_index(inplace=True)
df.rename(columns={'datetime': 'ds'}, inplace=True)
df['weather_data_type'] = 'estimated'
df[['location', 'ds', 'weather_data_type'] + [i for i in df.columns.tolist() if i not in ['location', 'ds', 'y', 'weather_data_type']]]

,location,ds,weather_data_type,absolute_humidity_2m:gm3,air_density_2m:kgm3,ceiling_height_agl:m,clear_sky_energy_1h:J,clear_sky_rad:W,cloud_base_agl:m,dew_or_rime:idx,...,sun_azimuth:d,sun_elevation:d,super_cooled_liquid_water:kgm2,t_1000hPa:K,total_cloud_cover:p,visibility:m,wind_speed_10m:ms,wind_speed_u_10m:ms,wind_speed_v_10m:ms,wind_speed_w_1000hPa:ms
0,A,2023-05-01 00:00:00,estimated,4.325,1.28675,912.700012,0.000000,0.000000,1061.550049,0.0,...,16.026501,-10.541000,0.000,273.799988,74.949997,29907.500000,3.950,2.100,3.350,0.0
1,A,2023-05-01 01:00:00,estimated,4.275,1.28600,1482.099976,0.000000,0.000000,1075.100098,0.0,...,30.497250,-7.894500,0.000,273.799988,77.474998,29519.074219,3.825,1.925,3.300,0.0
2,A,2023-05-01 02:00:00,estimated,4.150,1.28375,1791.300049,0.000000,0.000000,1200.400024,0.0,...,44.517250,-3.815500,0.000,273.849976,88.099998,31009.125000,3.650,1.750,3.200,0.0
3,A,2023-05-01 03:00:00,estimated,4.025,1.28200,2312.875000,10124.424805,11.675000,1179.849976,0.0,...,58.083000,1.412500,0.000,273.899994,68.599998,34552.500000,3.500,1.450,3.150,0.0
4,A,2023-05-01 04:00:00,estimated,3.900,1.28100,2198.299805,141748.593750,76.875000,920.049988,0.0,...,71.341003,7.468500,0.000,273.924988,66.300003,35483.875000,3.325,1.300,3.050,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,C,2023-07-03 19:00:00,estimated,8.400,1.19675,3493.649902,475981.375000,84.775002,1967.375000,0.0,...,306.688995,8.131001,0.100,286.850006,88.175003,41007.898438,2.175,1.900,-1.075,0.0
2156,C,2023-07-03 20:00:00,estimated,8.600,1.20000,3078.750000,183261.343750,24.549999,1449.500000,0.0,...,319.703003,3.239500,0.000,286.450012,78.949997,41315.949219,2.200,2.000,-0.925,0.0
2157,C,2023-07-03 21:00:00,estimated,8.875,1.20350,2308.399902,36831.074219,1.225000,1543.650024,0.0,...,333.037231,-0.477000,0.000,285.950012,80.449997,41665.898438,2.250,2.050,-0.950,0.0
2158,C,2023-07-03 22:00:00,estimated,9.000,1.20650,2000.449951,344.575012,0.000000,1725.949951,0.0,...,346.682739,-2.787750,0.075,285.450012,100.000000,39007.601562,1.875,1.700,-0.775,0.0
2159,C,2023-07-03 23:00:00,estimated,8.950,1.20700,2005.525024,0.000000,0.000000,1284.849976,0.0,...,180.515747,-3.535750,0.150,285.100006,100.000000,39117.500000,1.700,1.600,-0.600,0.0