In [1]:
import ml_combat as ml
from ml_combat import data

In [7]:
ml.models.naive.fit(ml.data.get_training_groupby_mean())
y_pred = ml.models.naive.predict(ml.data.get_testing())
y_pred = ml.models.naive.make_submittable(y_pred)
y_pred.to_csv('submissions/test1.csv', index=False)

In [8]:
y_pred

        id  prediction
0        0  630.594707
1        1  630.594707
2        2  630.594707
3        3  630.594707
4        4  630.594707
...    ...         ...
2155  2155   77.631060
2156  2156   77.631060
2157  2157   77.631060
2158  2158   77.631060
2159  2159   77.631060

[2160 rows x 2 columns]

In [3]:
df = ml.data.get_training_groupby_mean()

In [4]:
df = df.drop(columns=['estimated'], level=0)
df.columns = df.columns.droplevel().tolist()
df.reset_index(inplace=True)
df.rename(columns={'datetime': 'ds', 'pv_measurement': 'y'}, inplace=True)

In [5]:
for loc in df.location.unique():
    temp_df = df[df.location == loc].copy()

,location,ds,y,absolute_humidity_2m:gm3,air_density_2m:kgm3,ceiling_height_agl:m,clear_sky_energy_1h:J,clear_sky_rad:W,cloud_base_agl:m,dew_or_rime:idx,...,sun_azimuth:d,sun_elevation:d,super_cooled_liquid_water:kgm2,t_1000hPa:K,total_cloud_cover:p,visibility:m,wind_speed_10m:ms,wind_speed_u_10m:ms,wind_speed_v_10m:ms,wind_speed_w_1000hPa:ms
0,A,2019-06-02 22:00:00,0.00,7.700,1.22825,1728.950012,0.000000,0.00,1728.950012,0.0,...,348.036758,-3.77425,0.0,286.224998,100.000,40386.475586,3.600,-3.575,-0.500,0.0
1,A,2019-06-02 23:00:00,0.00,7.700,1.22350,1689.824982,0.000000,0.00,1689.824982,0.0,...,91.980751,-4.35725,0.0,286.899994,100.000,33770.649414,3.350,-3.350,0.275,0.0
2,A,2019-06-03 00:00:00,0.00,7.875,1.21975,1563.225006,0.000000,0.00,1563.225006,0.0,...,14.934750,-3.30950,0.0,286.949997,100.000,13595.500000,3.050,-2.950,0.750,0.0
3,A,2019-06-03 01:00:00,0.00,8.425,1.21800,1283.425018,208.649994,0.75,1283.425018,0.0,...,28.630250,-0.82250,0.0,286.750000,100.000,2321.850037,2.725,-2.600,0.875,0.0
4,A,2019-06-03 02:00:00,19.36,8.950,1.21800,1003.500000,32468.150269,23.10,1003.500000,0.0,...,41.997500,3.05125,0.0,286.449997,99.225,11634.799683,2.550,-2.350,0.925,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101358,C,2023-04-30 19:00:00,50.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101359,C,2023-04-30 20:00:00,2.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101360,C,2023-04-30 21:00:00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101361,C,2023-04-30 22:00:00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101362,C,2023-04-30 23:00:00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import